@media (max-width: 800px){
    .flex_row{
        flex-flow: column-reverse;
        align-items: center;
        justify-content: flex-end;
        gap: 0vh;
    }
    .button{
        font-size: 20px;
    }
    .container{
        margin: 2rem auto;
        text-align: center;
    }
    .row{
        display: flex;
        justify-content: center;
    }
    .flex ul li meter {
        width: 60vw;
    }
    .flex {
        display: flex;
        align-items:center;
        justify-content: space-between;
        flex-flow: column;
        gap: 10vw;
    }
    .flex_row-2 {
        flex-flow: column;
        align-items: center;
        gap: 2vw;
        background-color: rgba(162, 217, 255, .7);
        border-radius: 2rem;
        padding: 2rem 0;
    }
    .flex_row-2 .text {
        align-self: center; 
    }
    .flex_row-2 .arrow{
        display: none;
    }
    .mb-1{
        margin-bottom: 20vh;
    }
    .container .center {
        margin-top: 8vh;
    }
    #demos .container{
        min-height: 80vh;
    }
    .text {
        font-size: 20px;
        line-height: 30px;
    }
    .flex ul li h4 {
        font-size: 20px;
        line-height: 30px;
    }

/*========== ROTATE =========*/
    .imgs{
        height: 40vh;
        width: 40vh;
    }
    
    .rotate {
        height: 50%;
        position: absolute;
        top: 50%;
        left: 40%;
        width: 10vh;
        display: flex;
        align-items: flex-end;
    }
    
    .rotate div {
        height: 5vh;
        width: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 570px){
    .button{
        font-size: 20px;
        line-height: 30px; 
        margin: 0 auto;
    }
    .row{
        display: flex;
        justify-content: center;
    }
    .container.height-11{
        min-height: 80vh;
    }
    .flex ul li meter {
        width: 60vw;
    }
    .flex {
        display: flex;
        align-items:center;
        justify-content: space-between;
        flex-flow: column;
        gap: 10vw;
    }
    .flex_row-2 {
        flex-flow: column;
        align-items: center;
        gap: 2vw;
        background-color: rgba(162, 217, 255, .7);
        border-radius: 2rem;
        padding: 2rem 0;
    }
    .flex_row-2 .arrow{
        display: none;
    }
    .mb-1{
        margin-bottom: 20vh;
    }
}

@media (max-width: 450px){
    .col {
        padding: 0; 
    }
    .rotate {
        height: 40%;
        top: 45%;
        width: 3vh;
    }
    .container.bubble {
        background: url(../pics/hatter.png) no-repeat center -280px;
    }
    .imgs{
        height: 35vh;
        width: 40vh;
    }
}

@media (max-width: 350px){
    .rotate {
        height: 40%;
        top: 40%;
        width: 3vh;
    }
    .imgs{
        height: 30vh;
        width: 25vh;
    }
}

@media (max-height:500px){
    .col .me{
        max-width: 60%;
    }
}

@media screen {@media (max-height:768px) and (max-width: 800px){
        .col .me{
            max-width: 60%;
        }
    }
}